.homepageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .homepageHeaderContainer {
    margin: 0px 0px 25px 0px;

    .homepageHeaderImg {
      width: 100vw;
    }
  }

  .reasonContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90%;

    .reasonTitleContainer {
      margin: 0px 0px 15px 0px;

      .reasonTitle {
        font-family: sans-serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #20638c;
      }
    }

    .reasonParagraphContainer {
      justify-content: center;
      align-items: center;

      .reasonParagraph {
        line-height: 36px;
        font-family: sans-serif;
        font-size: 24px;
        text-align: center;
        letter-spacing: 1px;
      }

      .hashtagLogo {
        margin-top: 25px;
        line-height: 35px;
        font-family: sans-serif;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 2px;
        color: white;
        text-shadow: 0 0 15px black;
        text-shadow: 2px 2px 0 #20638c, 2px -2px 0 #20638c, -2px 2px 0 #20638c,
          -2px -2px 0 #20638c, 2px 0px 0 #20638c, 0px 2px 0 #20638c,
          -2px 0px 0 #20638c, 0px -2px 0 #20638c, 2px 2px 0 rgba(0, 0, 255, 0);
      }
    }
  }

  .separator {
    display: flex;
    position: relative;
    width: 90%;
    height: 5px;
    border-radius: 5px;
    background-color: #20638c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
    margin: 30px 0px 30px 0px;
  }

  .campaignNewsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90%;

    .campaignNewsTitleContainer {
      margin-bottom: 25px;

      .campaignNewsTitle {
        font-family: sans-serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #20638c;
      }
    }

    .newsEntryContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;

      .entryImgContainer {
        margin: 15px 0px;

        .entryImg {
          height: 250px;
          border-radius: 15px;
        }

        .entrySpecialImg {
          height: 1000px;
          border-radius: 5px;
        }

        .entrySpecialImg2 {
          height: 500px;
          border-radius: 5px;
        }
      }

      .entryTitleContainer {
        margin: 15px 0px;

        .entryTitle {
          line-height: 30px;
          font-family: sans-serif;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          letter-spacing: 1px;
        }
      }

      .entryDateContainer {
        margin: 15px 0px;

        .entryDate {
          line-height: 30px;
          font-family: sans-serif;
          font-size: 24px;
          font-style: italic;
          text-align: center;
          letter-spacing: 1px;
        }
      }

      .entryParagraphContainer {
        .entryParagraph {
          line-height: 30px;
          font-family: sans-serif;
          font-size: 24px;
          text-align: left;
          letter-spacing: 1px;
        }

        .entryParagraph2 {
          line-height: 30px;
          font-family: sans-serif;
          font-size: 24px;
          text-align: center;
          letter-spacing: 1px;
        }

        .newsEntryLink {
          font-size: 30px;
          font-family: sans-serif;
          font-weight: bold;
          color: #20638c;
          text-decoration: none;
          cursor: pointer;
          outline: none;
        }
      }
    }

    .newsSeparator {
      display: flex;
      position: relative;
      width: 90%;
      height: 5px;
      border-radius: 5px;
      background-color: #a61f38;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
      margin: 30px 0px 30px 0px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .homepageContainer {
    .reasonContainer {
      .reasonTitleContainer {
        .reasonTitle {
          font-size: 40px;
        }
      }

      .reasonParagraphContainer {
        .reasonParagraph {
          line-height: 32px;
          font-size: 22px;
        }
      }
    }

    .campaignNewsContainer {
      .campaignNewsTitleContainer {
        margin-bottom: 20px;

        .campaignNewsTitle {
          font-size: 40px;
        }
      }

      .newsEntryContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;

        .entryImgContainer {
          margin: 15px 0px;

          .entryImg {
            height: 200px;
            border-radius: 15px;
          }
        }

        .entryTitleContainer {
          margin: 15px 0px;

          .entryTitle {
            line-height: 30px;
            font-size: 22px;
          }
        }

        .entryDateContainer {
          .entryDate {
            line-height: 30px;
            font-size: 22px;
          }
        }

        .entryParagraphContainer {
          .entryParagraph {
            line-height: 30px;
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homepageContainer {
    .reasonContainer {
      .reasonTitleContainer {
        .reasonTitle {
          font-size: 30px;
        }
      }

      .reasonParagraphContainer {
        .reasonParagraph {
          line-height: 30px;
          font-size: 20px;
        }

        .hashtagLogo {
          line-height: 30px;
          font-size: 30px;
        }
      }
    }

    .campaignNewsContainer {
      .campaignNewsTitleContainer {
        margin-bottom: 20px;

        .campaignNewsTitle {
          font-size: 30px;
        }
      }

      .newsEntryContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;

        .entryImgContainer {
          margin: 15px 0px;

          .entryImg {
            height: 150px;
            border-radius: 15px;
          }
        }

        .entryTitleContainer {
          margin: 15px 0px;

          .entryTitle {
            line-height: 30px;
            font-size: 20px;
          }
        }

        .entryDateContainer {
          .entryDate {
            line-height: 30px;
            font-size: 20px;
          }
        }

        .entryParagraphContainer {
          .entryParagraph {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .homepageContainer {
    .reasonContainer {
      .reasonTitleContainer {
        .reasonTitle {
          font-size: 30px;
        }
      }

      .reasonParagraphContainer {
        .reasonParagraph {
          line-height: 30px;
          font-size: 20px;
        }

        .hashtagLogo {
          line-height: 30px;
          font-size: 30px;
        }
      }
    }

    .campaignNewsContainer {
      .campaignNewsTitleContainer {
        margin-bottom: 20px;

        .campaignNewsTitle {
          font-size: 30px;
        }
      }

      .newsEntryContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;

        .entryImgContainer {
          margin: 15px 0px;

          .entryImg {
            height: 150px;
            border-radius: 15px;
          }

          .entrySpecialImg {
            height: initial;
            width: 90vw;
            border-radius: 5px;
          }
        }

        .entryTitleContainer {
          margin: 15px 0px;

          .entryTitle {
            line-height: 30px;
            font-size: 20px;
          }
        }

        .entryDateContainer {
          .entryDate {
            line-height: 30px;
            font-size: 20px;
          }
        }

        .entryParagraphContainer {
          .entryParagraph {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .homepageContainer {
    .reasonContainer {
      .reasonTitleContainer {
        .reasonTitle {
          font-size: 24px;
        }
      }

      .reasonParagraphContainer {
        .reasonParagraph {
          line-height: 30px;
          font-size: 18px;
        }

        .hashtagLogo {
          line-height: 30px;
          font-size: 24px;
        }
      }
    }

    .campaignNewsContainer {
      .campaignNewsTitleContainer {
        margin-bottom: 20px;

        .campaignNewsTitle {
          font-size: 24px;
        }
      }

      .newsEntryContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;

        .entryImgContainer {
          margin: 15px 0px;

          .entryImg {
            height: 100px;
            border-radius: 15px;
          }

          .entrySpecialImg {
            height: initial;
            width: 90vw;
            border-radius: 5px;
          }
        }

        .entryTitleContainer {
          margin: 15px 0px;

          .entryTitle {
            line-height: 30px;
            font-size: 18px;
          }
        }

        .entryDateContainer {
          .entryDate {
            line-height: 30px;
            font-size: 18px;
          }
        }

        .entryParagraphContainer {
          .entryParagraph {
            line-height: 30px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
