.endorsementsPageContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .endorsementsTitleContainer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

    .endorsementsTitle {
      font-family: sans-serif;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 2px;
      color: #20638c;
      text-align: center;
    }
  }

  .endorsementsMainContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;

    .endorserContainerTall1 {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 25px 0px;
      padding-left: 100px;

      .endorserTitleContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 50px;

        .endorserTitle {
          font-family: sans-serif;
          font-size: 45px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 65px;
          color: black;
          text-align: center;
        }
      }

      .endorserImgContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 10px;

        .endorserImg {
          display: flex;
          position: relative;
          width: 300px;
          border-radius: 10px;
        }
      }
    }

    .endorserContainerTall2 {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 25px 0px;
      padding-right: 100px;

      .endorserTitleContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 50px;

        .endorserTitle {
          font-family: sans-serif;
          font-size: 45px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 65px;
          color: black;
          text-align: center;
        }
      }

      .endorserImgContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 10px;

        .endorserImg {
          display: flex;
          position: relative;
          width: 300px;
          border-radius: 10px;
        }
      }
    }

    .endorserContainerShort1 {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 50px 0px;
      padding-left: 100px;

      .endorserTitleContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 50px;

        .endorserTitle {
          font-family: sans-serif;
          font-size: 45px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 65px;
          color: black;
          text-align: center;
        }
      }

      .endorserImgContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 10px;

        .endorserImg {
          display: flex;
          position: relative;
          width: 300px;
          border-radius: 10px;
        }
      }
    }

    .endorserContainerShort2 {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 50px 0px;
      padding-right: 100px;

      .endorserTitleContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 50px;

        .endorserTitle {
          font-family: sans-serif;
          font-size: 45px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 65px;
          color: black;
          text-align: center;
        }
      }

      .endorserImgContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0px 10px;

        .endorserImg {
          display: flex;
          position: relative;
          width: 300px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .endorsementsPageContainer {
    .endorsementsTitleContainer {
      margin: 20px 0px;

      .endorsementsTitle {
        font-size: 40px;
      }
    }

    .endorsementsMainContainer {
      .endorserContainerTall1 {
        flex-direction: row;
        margin: 20px 0px;
        padding-left: 75px;

        .endorserTitleContainer {
          margin: 0px 50px;

          .endorserTitle {
            font-size: 35px;
            line-height: 55px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 250px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerTall2 {
        flex-direction: row;
        margin: 20px 0px;
        padding-right: 75px;

        .endorserTitleContainer {
          margin: 0px 50px;

          .endorserTitle {
            font-size: 35px;
            line-height: 55px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 250px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort1 {
        flex-direction: row;
        margin: 45px 0px;
        padding-left: 75px;

        .endorserTitleContainer {
          margin: 0px 50px;

          .endorserTitle {
            font-size: 35px;
            line-height: 55px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 300px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort2 {
        flex-direction: row;
        margin: 45px 0px;
        padding-right: 75px;

        .endorserTitleContainer {
          margin: 0px 50px;

          .endorserTitle {
            font-size: 35px;
            line-height: 55px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 300px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .endorsementsPageContainer {
    .endorsementsTitleContainer {
      margin: 20px 0px;

      .endorsementsTitle {
        font-size: 30px;
      }
    }

    .endorsementsMainContainer {
      .endorserContainerTall1 {
        flex-direction: row;
        margin: 15px 0px;
        padding-left: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 25px;
            line-height: 45px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 200px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerTall2 {
        flex-direction: row;
        margin: 15px 0px;
        padding-right: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 25px;
            line-height: 45px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 200px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort1 {
        flex-direction: row;
        margin: 30px 0px;
        padding-left: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 25px;
            line-height: 45px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 250px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort2 {
        flex-direction: row;
        margin: 30px 0px;
        padding-right: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 25px;
            line-height: 45px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 250px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .endorsementsPageContainer {
    .endorsementsTitleContainer {
      margin: 20px 0px;

      .endorsementsTitle {
        font-size: 30px;
      }
    }

    .endorsementsMainContainer {
      .endorserContainerTall1 {
        flex-direction: row;
        margin: 15px 0px;
        padding-left: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 20px;
            line-height: 40px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 150px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerTall2 {
        flex-direction: row;
        margin: 15px 0px;
        padding-right: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 20px;
            line-height: 40px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 150px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort1 {
        flex-direction: row;
        margin: 30px 0px;
        padding-left: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 20px;
            line-height: 40px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 175px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort2 {
        flex-direction: row;
        margin: 30px 0px;
        padding-right: 50px;

        .endorserTitleContainer {
          margin: 0px 25px;

          .endorserTitle {
            font-size: 20px;
            line-height: 40px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px;

          .endorserImg {
            width: 175px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 414px) and (max-width: 599px) {
  .endorsementsPageContainer {
    .endorsementsTitleContainer {
      margin: 20px 0px;

      .endorsementsTitle {
        font-size: 24px;
      }
    }

    .endorsementsMainContainer {
      .endorserContainerTall1 {
        flex-direction: row;
        margin: 15px 0px;
        padding-left: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 18px;
            line-height: 28px;
          }
        }

        .endorserImgContainer {
          margin: 0px 0px 0px 20px;

          .endorserImg {
            width: 150px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerTall2 {
        flex-direction: row;
        margin: 15px 0px;
        padding-right: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 18px;
            line-height: 28px;
          }
        }

        .endorserImgContainer {
          margin: 0px 20px 0px 0px;

          .endorserImg {
            width: 150px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort1 {
        flex-direction: row;
        margin: 30px 0px;
        padding-left: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 18px;
            line-height: 28px;
          }
        }

        .endorserImgContainer {
          margin: 0px 0px 0px 20px;

          .endorserImg {
            width: 175px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort2 {
        flex-direction: row;
        margin: 30px 0px;
        padding-right: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 18px;
            line-height: 28px;
          }
        }

        .endorserImgContainer {
          margin: 0px 20px 0px 0px;

          .endorserImg {
            width: 175px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 413px) {
  .endorsementsPageContainer {
    .endorsementsTitleContainer {
      margin: 20px 0px;

      .endorsementsTitle {
        font-size: 22px;
      }
    }

    .endorsementsMainContainer {
      .endorserContainerTall1 {
        flex-direction: row;
        margin: 15px 0px;
        padding-left: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 0px 0px 10px;

          .endorserImg {
            width: 140px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerTall2 {
        flex-direction: row;
        margin: 15px 0px;
        padding-right: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px 0px 0px;

          .endorserImg {
            width: 140px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort1 {
        flex-direction: row;
        margin: 30px 0px;
        padding-left: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 0px 0px 10px;

          .endorserImg {
            width: 160px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort2 {
        flex-direction: row;
        margin: 30px 0px;
        padding-right: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px 0px 0px;

          .endorserImg {
            width: 160px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 359px) {
  .endorsementsPageContainer {
    .endorsementsTitleContainer {
      margin: 20px 0px;

      .endorsementsTitle {
        font-size: 22px;
      }
    }

    .endorsementsMainContainer {
      .endorserContainerTall1 {
        flex-direction: row;
        margin: 15px 0px;
        padding-left: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 0px 0px 10px;

          .endorserImg {
            width: 125px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerTall2 {
        flex-direction: row;
        margin: 15px 0px;
        padding-right: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px 0px 0px;

          .endorserImg {
            width: 125px;
            border-radius: 10px;
          }
        }
      }

      .endorserContainerShort1 {
        flex-direction: row;
        margin: 30px 0px;
        padding-left: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 0px 0px 10px;

          .endorserImg {
            width: 140px;
            border-radius: 5px;
          }
        }
      }

      .endorserContainerShort2 {
        flex-direction: row;
        margin: 30px 0px;
        padding-right: 0px;

        .endorserTitleContainer {
          margin: 0px;

          .endorserTitle {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .endorserImgContainer {
          margin: 0px 10px 0px 0px;

          .endorserImg {
            width: 140px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
