.aboutPageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 500;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;

  .bioContainer {
    display: flex;
    width: 95%;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

    .bioTitleContainer {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      .bioTitle {
        font-family: sans-serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #20638c;
      }
    }

    .mobileBioSectionContainer {
      display: none;
    }

    .bioSectionContainer {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      .bioImgContainer {
        margin: 15px;

        .bioImg {
          height: 400px;
          border-radius: 15px;
        }
      }
      .bioParagraphContainer {
        margin: 0px 15px;
        width: 70%;

        .bioParagraph {
          margin: 10px 0px;
          line-height: 40px;
          font-family: sans-serif;
          font-size: 20px;
          text-align: left;
          letter-spacing: 1px;
        }
      }
    }

    .bioSectionContainer2 {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .bioImgContainer2 {
        margin: 15px;

        .bioImg2 {
          height: 400px;
          border-radius: 15px;
        }
      }
      .bioParagraphContainer2 {
        margin: 15px 0px;
        width: 90%;

        .bioParagraph2 {
          margin: 10px 0px;
          line-height: 40px;
          font-family: sans-serif;
          font-size: 20px;
          text-align: left;
          letter-spacing: 1px;
        }
      }
    }
  }

  .separator {
    display: flex;
    position: relative;
    width: 90%;
    height: 5px;
    border-radius: 5px;
    background-color: #20638c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
    margin: 30px 0px 30px 0px;
  }

  .philanthropyContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

    .philanthropyTitleContainer {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      .philanthropyTitle {
        font-family: sans-serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #20638c;
      }
    }

    .mobilePhilanthropySectionContainer {
      display: none;
    }

    .philanthropySectionContainer {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      .philanthropyImgContainer {
        margin: 25px;
        width: 450px;

        .philanthropyImg {
          width: 100%;
          border-radius: 15px;
        }

        .imgRow1 > .philanthropyImg {
          width: 49%;
          margin: 0 1% 0 0;
        }

        .imgRow2 > .philanthropyImg {
          width: 99%;
          margin: 0.5% 1% 0 0;
        }
      }

      .philanthropyImgContainer2 {
        margin: 25px;
        width: 250px;

        .philanthropyImg2 {
          width: 100%;
          border-radius: 15px;
        }
      }

      .philanthropyParagraphContainer {
        width: 60%;
        margin: 15px;

        .philanthropyParagraph {
          margin: 10px 0px;
          line-height: 40px;
          font-family: sans-serif;
          font-size: 20px;
          text-align: left;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .aboutPageContainer {
    .bioContainer {
      .bioTitleContainer {
        .bioTitle {
          font-size: 40px;
        }
      }
      .bioSectionContainer {
        .bioImgContainer {
          .bioImg {
            height: 300px;
          }
        }
        .bioParagraphContainer {
          .bioParagraph {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }

      .bioSectionContainer2 {
        .bioImgContainer2 {
          .bioImg2 {
            height: 300px;
          }
        }
        .bioParagraphContainer2 {
          .bioParagraph2 {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }

    .philanthropyContainer {
      .philanthropyTitleContainer {
        .philanthropyTitle {
          font-size: 40px;
        }
      }

      .philanthropySectionContainer {
        .philanthropyImgContainer {
          margin: 15px;
          width: 350px;
        }

        .philanthropyImgContainer2 {
          margin: 1l 5px;
          width: 250px;

          .philanthropyImg2 {
            width: 100%;
            border-radius: 15px;
          }
        }

        .philanthropyParagraphContainer {
          width: 60%;
          margin: 15px;

          .philanthropyParagraph {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .aboutPageContainer {
    .bioContainer {
      .bioTitleContainer {
        .bioTitle {
          font-size: 30px;
        }
      }

      .mobileBioSectionContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobileBioImgContainer {
          margin: 15px;

          .mobileBioImg {
            height: 300px;
            border-radius: 15px;
          }
        }
        .mobileBioParagraphContainer {
          margin: 0px 15px;
          width: 90%;

          .mobileBioParagraph {
            margin: 10px 0px;
            line-height: 35px;
            font-family: sans-serif;
            font-size: 20px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .bioSectionContainer {
        display: none;
      }

      .bioSectionContainer2 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .bioImgContainer2 {
          margin: 15px;

          .bioImg2 {
            height: 275px;
            border-radius: 15px;
          }
        }
        .bioParagraphContainer2 {
          margin: 15px 0px;
          width: 90%;

          .bioParagraph2 {
            margin: 10px 0px;
            line-height: 35px;
            font-family: sans-serif;
            font-size: 20px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }
    }

    .separator {
      display: flex;
      position: relative;
      width: 90%;
      height: 5px;
      border-radius: 5px;
      background-color: #20638c;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
      margin: 30px 0px 30px 0px;
    }

    .philanthropyContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;

      .philanthropyTitleContainer {
        .philanthropyTitle {
          font-size: 30px;
        }
      }

      .mobilePhilanthropySectionContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobilePhilanthropyImgContainer {
          margin: 15px;
          width: 400px;

          .mobilePhilanthropyImg {
            width: 100%;
            border-radius: 15px;
          }

          .mobileImgRow1 > .mobilePhilanthropyImg {
            width: 49%;
            margin: 0 1% 0 0;
          }

          .mobileImgRow2 > .mobilePhilanthropyImg {
            width: 99%;
            margin: 0.5% 1% 0 0;
          }
        }

        .mobilePhilanthropyImgContainer2 {
          margin: 15px;
          width: 250px;

          .mobilePhilanthropyImg2 {
            width: 100%;
            border-radius: 15px;
          }
        }

        .mobilePhilanthropyParagraphContainer {
          width: 90%;
          margin: 15px;

          .mobilePhilanthropyParagraph {
            margin: 10px 0px;
            line-height: 30px;
            font-family: sans-serif;
            font-size: 20px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .philanthropySectionContainer {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .aboutPageContainer {
    .bioContainer {
      .bioTitleContainer {
        .bioTitle {
          font-size: 30px;
        }
      }

      .mobileBioSectionContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobileBioImgContainer {
          margin: 15px;

          .mobileBioImg {
            height: 300px;
            border-radius: 15px;
          }
        }
        .mobileBioParagraphContainer {
          margin: 0px 15px;
          width: 90%;

          .mobileBioParagraph {
            margin: 10px 0px;
            line-height: 35px;
            font-family: sans-serif;
            font-size: 20px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .bioSectionContainer {
        display: none;
      }

      .mobileBioSectionContainer2 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobileBioImgContainer2 {
          margin: 15px;

          .mobileBioImg2 {
            height: 200px;
            border-radius: 15px;
          }
        }
        .mobileBioParagraphContainer2 {
          margin: 15px 0px;
          width: 90%;

          .mobileBioParagraph2 {
            margin: 10px 0px;
            line-height: 35px;
            font-family: sans-serif;
            font-size: 20px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .bioSectionContainer2 {
        display: none;
      }
    }

    .separator {
      display: flex;
      position: relative;
      width: 90%;
      height: 5px;
      border-radius: 5px;
      background-color: #20638c;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
      margin: 30px 0px 30px 0px;
    }

    .philanthropyContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;

      .philanthropyTitleContainer {
        .philanthropyTitle {
          font-size: 30px;
        }
      }

      .mobilePhilanthropySectionContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobilePhilanthropyImgContainer {
          margin: 15px;
          width: 400px;

          .mobilePhilanthropyImg {
            width: 100%;
            border-radius: 15px;
          }

          .mobileImgRow1 > .mobilePhilanthropyImg {
            width: 49%;
            margin: 0 1% 0 0;
          }

          .mobileImgRow2 > .mobilePhilanthropyImg {
            width: 99%;
            margin: 0.5% 1% 0 0;
          }
        }

        .mobilePhilanthropyImgContainer2 {
          margin: 15px;
          width: 250px;

          .mobilePhilanthropyImg2 {
            width: 100%;
            border-radius: 15px;
          }
        }

        .mobilePhilanthropyParagraphContainer {
          width: 90%;
          margin: 15px;

          .mobilePhilanthropyParagraph {
            margin: 10px 0px;
            line-height: 30px;
            font-family: sans-serif;
            font-size: 20px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .philanthropySectionContainer {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .aboutPageContainer {
    .bioContainer {
      .bioTitleContainer {
        .bioTitle {
          font-size: 24px;
        }
      }

      .mobileBioSectionContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobileBioImgContainer {
          margin: 15px;

          .mobileBioImg {
            height: 200px;
            border-radius: 10px;
          }
        }
        .mobileBioParagraphContainer {
          margin: 0px 15px;
          width: 90%;

          .mobileBioParagraph {
            margin: 10px 0px;
            line-height: 30px;
            font-family: sans-serif;
            font-size: 18px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .mobileBioSectionContainer2 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobileBioImgContainer2 {
          margin: 15px;

          .mobileBioImg2 {
            height: 125px;
            border-radius: 10px;
          }
        }
        .mobileBioParagraphContainer2 {
          margin: 0px 15px;
          width: 90%;

          .mobileBioParagraph2 {
            margin: 10px 0px;
            line-height: 30px;
            font-family: sans-serif;
            font-size: 18px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .bioSectionContainer {
        display: none;
      }

      .bioSectionContainer2 {
        display: none;
      }
    }

    .separator {
      display: flex;
      position: relative;
      width: 90%;
      height: 5px;
      border-radius: 5px;
      background-color: #20638c;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
      margin: 15px 0px 15px 0px;
    }

    .philanthropyContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;

      .philanthropyTitleContainer {
        .philanthropyTitle {
          font-size: 24px;
        }
      }

      .mobilePhilanthropySectionContainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .mobilePhilanthropyImgContainer {
          margin: 15px;
          width: 300px;

          .mobilePhilanthropyImg {
            width: 100%;
            border-radius: 10px;
          }

          .mobileImgRow1 > .mobilePhilanthropyImg {
            width: 49%;
            margin: 0 1% 0 0;
          }

          .mobileImgRow2 > .mobilePhilanthropyImg {
            width: 99%;
            margin: 0.5% 1% 0 0;
          }
        }

        .mobilePhilanthropyImgContainer2 {
          margin: 15px;
          width: 200px;

          .mobilePhilanthropyImg2 {
            width: 100%;
            border-radius: 10px;
          }
        }

        .mobilePhilanthropyParagraphContainer {
          width: 90%;
          margin: 15px;

          .mobilePhilanthropyParagraph {
            margin: 10px 0px;
            line-height: 30px;
            font-family: sans-serif;
            font-size: 18px;
            text-align: left;
            letter-spacing: 1px;
          }
        }
      }

      .philanthropySectionContainer {
        display: none;
      }
    }
  }
}
