.headerContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 10px 0px 10px;
  z-index: 990;

  .siteLogoContainer {
    display: flex;
    position: relative;
    margin-left: 10px;

    .siteLogo {
      display: flex;
      position: relative;
      z-index: 999;
      height: 70px;
    }
  }

  .menuContainer {
    display: flex;
    position: relative;
    z-index: 999;

    .navLinks {
      margin-right: 25px;
      font-size: 24px;
      font-family: sans-serif;
      font-weight: bold;
      text-decoration: none;
      color: #20638c;
      cursor: pointer;
    }

    .navLinks:hover {
      font-size: 27px;
    }

    .active {
      text-decoration: none;
      font-style: italic;
      color: #a61f38;
    }

    .donateBtn {
      margin-right: 10px;
      font-size: 24px;
      font-family: sans-serif;
      font-weight: bold;
      text-decoration: none;
      color: #1c9986;
      cursor: pointer;
    }

    .donateBtn:hover {
      font-size: 27px;
    }
  }

  .mobileMenuContainer {
    display: none;
  }
}
